@{
    ViewData["Title"] = "Avaleht";
}
@using System.Linq

<div class="container mt-3 p-0">
    <div class="row g-0 pb-4">
        <div style="width: 49%;">
            <div class="bg-primary text-white h-100 d-flex align-items-center p-4">
                <div>
                    <h3>Sed nex elit vestibulum, <strong>tincidunt orci</strong> et, sagittis ex. Vestibulum rutrum <strong>neque sucipit</strong> ante mattis maximus. Nulla non sapien <strong>viverra, lobortis lorem non,</strong> accumsan metus. </h3>
                </div>
            </div>
        </div>
        <div style="width: 51%;">
            <img src="~/images/pargipink.jpg" alt="Park Bench" class="img-fluid w-100">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card rounded-0">
                <div class="card-body p-0">
                    <div class="card-header bg-primary text-white text-center rounded-0">
                        <h5>Tulevased üritused</h5>
                    </div>
                    @if (Model.UpcomingEvents != null && Model.UpcomingEvents.Count > 0)
                    {
                        <div class="list-group list-group-flush">
                            @for (int i = 0; i < Model.UpcomingEvents.Count; i++)
                            {
                                <div class="list-group-item border-0 d-flex justify-content-between align-items-center">
                                    <div class="col-md-9">
                                        <a asp-controller="Events" asp-action="EventDetails" asp-route-id="@Model.UpcomingEvents[i].Id">@($"{i + 1}. {Model.UpcomingEvents[i].Name}")</a>
                                    </div>
                                    <div class="col-md-2 text-end">@($"{Model.UpcomingEvents[i].Time:dd.MM.yyyy}")</div>
                                    
                                    <form class="col-md-1 text-end" asp-action="DeleteEvent" asp-controller="Home" asp-route-id="@Model.UpcomingEvents[i].Id" method="post">
                                        <button type="submit" class="btn btn-link p-0">X</button>
                                    </form>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="p-3">Tulevased üritused puuduvad</div>
                    }
                    <div class="card-footer border-0 bg-white">
                        <a class="btn btn-primary" asp-controller="Events" asp-action="AddEvent">Lisa üritus</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card rounded-0">
                <div class="card-body p-0">
                    <div class="card-header bg-primary text-white text-center rounded-0">
                        <h5>Toiminud üritused</h5>
                    </div>
                    @if (Model.PastEvents != null && Model.PastEvents.Count > 0)
                    {
                        <div class="list-group list-group-flush">
                            @for (int i = 0; i < Model.PastEvents.Count; i++)
                            {
                                <div class="list-group-item border-0 d-flex justify-content-between align-items-center">
                                    <div class="col-md-7">
                                        <a href="/Events/Attendees/@Model.PastEvents[i].Id">@($"{i + 1}. {Model.PastEvents[i].Name}")</a>
                                    </div>
                                    <div class="col-md-5 text-end">@($"{Model.PastEvents[i].Time:dd.MM.yyyy}")</div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="p-3">Toiminud üritused puuduvad</div>
                    }
                </div>
            </div>
        </div>
    </div>



</div>
